.my-table {
  width: 850px;
  margin-right: auto;
  margin-left: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
}
th,
td {
  border: 1px, solid #dddddd;
}
th,
tfoot td {
  background-color: #f2f2f2;
  font-weight: bold;
}
tr:nth-child(even) {
  background-color: #f9f9f9;
}
